{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add product{% endblock %}

{% block content %}
    <form method="POST">
        <h1>Add product</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {%  comment  "Hide this" %}
        Product Name<input type="text" name="product_name"><br>
        Product Group<select class="" name="product_group">
            {% for gn in group_name %}
                <option value="{{ gn.id }}">{{ gn.group_name }}</option>
            {% endfor %}

        </select><br>
        Company name<select name="product_company">
            {% for pc in company_name %}
                <option value="{{ pc.id }}">{{ pc.company_name }}</option>
            {% endfor %}

        </select><br>
        {% endcomment %}
        {{ form | crispy }}
        <input type="submit" value="Add">
        {% csrf_token %}
    </form>
{% endblock %}