{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>IMS | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">git
</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-large w3-padding w3-dark-gray w3-card-2" style="width:20%">
        <h3 class="w3-bar-item w3-teal">IMS</h3>

        <a href="/" class="w3-bar-item w3-button">Home</a>

        <button class="w3-button w3-block w3-left-align" onclick="StockFunc()">
            Stock <i class="fa fa-caret-down"></i>
        </button>
        <div id="stockId" class="w3-hide w3-white w3-card-2">
            <a href="/stock_in/" class="w3-bar-item w3-button">Stock In</a>
            <a href="/stock_in_list/" class="w3-bar-item w3-button">Stock In List</a>
            <a href="/stock_out/" class="w3-bar-item w3-button">Stock Out</a>
            <a href="/stock_out_list/" class="w3-bar-item w3-button">Stock Out List</a>
        </div>

        <button class="w3-button w3-block w3-left-align " onclick="ProductFunc()">
            Product <i class="fa fa-caret-down"></i>
        </button>
        <div id="productId" class="w3-hide w3-white w3-card-2">
            <a href="/add_product/" class="w3-bar-item w3-button">Add Product</a>
            <a href="/product_list/" class="w3-bar-item w3-button">Product List</a>
        </div>

        <button class="w3-button w3-block w3-left-align" onclick="GroupFunc()">
            Group <i class="fa fa-caret-down"></i>
        </button>
        <div id="groupId" class="w3-hide w3-white w3-card-2">
            <a href="/add_group/" class="w3-bar-item w3-button">Add Group</a>
            <a href="/group_list/" class="w3-bar-item w3-button">Group List</a>
        </div>

        <button class="w3-button w3-block w3-left-align" onclick="CompanyFunc()">
            Company <i class="fa fa-caret-down"></i>
        </button>
        <div id="companyId" class="w3-hide w3-white w3-card-2">
            <a href="/add_company/" class="w3-bar-item w3-button">Add Company</a>
            <a href="/company_list/" class="w3-bar-item w3-button">Company List</a>
        </div>

        <button class="w3-button w3-block w3-left-align" onclick="SupplierFunc()">
            Supplier <i class="fa fa-caret-down"></i>
        </button>
        <div id="supplierId" class="w3-hide w3-white w3-card-2">
            <a href="/add_supplier/" class="w3-bar-item w3-button">Add Supplier</a>
            <a href="/supplier_list/" class="w3-bar-item w3-button">Supplier List</a>
        </div>
        <a href="/stocks" class="w3-bar-item w3-button">Stocks</a>
    </div>

<div style="margin-left:20%">

    <div class="w3-container w3-teal w3-xxxlarge">
      <a href="#" class=" w3-xlarge w3-right">Login</a>
    </div>

    <div class="w3-container">
        <br><br><br>
        {% block content %}

        {% endblock %}

    </div>

</div>

<script>
function StockFunc() {
    var x = document.getElementById("stockId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function ProductFunc() {
    var x = document.getElementById("productId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function GroupFunc() {
    var x = document.getElementById("groupId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function CompanyFunc() {
    var x = document.getElementById("companyId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function SupplierFunc() {
    var x = document.getElementById("supplierId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}
</script>
      
</body>
</html>

